.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &.small {
        width: 16px;
        height: 16px;

        input[type='radio'] {
            position: absolute;
            width: inherit;
            height: inherit;
            opacity: 0;
        }

        .check {
            width: inherit;
            height: inherit;
            border-radius: 50%;
            padding: 2px;
            border: 1px solid var(--primary-light);
            background-color: var(--white);
            background-clip: content-box;
        }

        input[type='radio']:checked ~ .check {
            background-color: var(--primary);
            border: 1px solid var(--primary);
        }
    }

    &.medium {
        width: 24px;
        height: 24px;

        input[type='radio'] {
            position: absolute;
            width: inherit;
            height: inherit;
            opacity: 0;
        }

        .check {
            width: inherit;
            height: inherit;
            border-radius: 50%;
            padding: 3px;
            border: 1px solid var(--primary-light);
            background-color: var(--white);
            background-clip: content-box;
        }

        input[type='radio']:checked ~ .check {
            background-color: var(--primary);
            border: 1px solid var(--primary);
        }
    }
}
