.wrapper {
    padding: 16px 24px 0px 24px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    height: fit-content;
}

.center {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}

.inner {
    display: flex;
}

.title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px 0;
}

.button {
    padding: 7px 0 7px 0;
    span {
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
}

.content-collapse {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 12px 0;
}

.content-non-collapse {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 12px 0;
}

.bottom-two-btn {
    display: none;
    gap: 0 12px;
    margin-top: 12px;
}

.bottom-expand {
    display: none;
}

.right {
    display: none;
    align-items: center;
    justify-content: center;
    .right-expand-btn{
        width: 24px;
        height: 24px;
        padding: 0;
    }
}

.left {
    display: none;
    align-items: center;
    justify-content: center;
    .left-expand-btn{
        width: 24px;
        height: 24px;
        padding: 0;
    }
}


.card-expand-right-button {
    .bottom-expand {
        display: block;
    }

    .content-collapse {
        &.show {
            display: flex;
        }
    }
}


.card-top {
    padding-bottom: 16px;
    .content {
        gap: 8px 0;
        padding-left: 8px
    }

    .content-non-collapse {
        display: flex;
    }
    .content-collapse {
        display: none;
    }
}

.card-two-button {
    padding: 16px 24px 16px 24px;

    .bottom-expand{
        display: none;
    }
    .bottom-two-btn {
        display: flex;
    }
    .content-non-collapse {
        display: flex;
    }
    .content-collapse {
        display: none;
    }
}

.card-expand-two-button {
    .content-collapse {
        display: none;
        &.show {
            display: flex;
        }
    }

    .content-non-collapse {
        display: none;
    }

    .bottom-two-btn {
        display: none;
    }

    .bottom-expand {
        display: block;
    }
}

.card-expand-left-right {
        &.wrapper {
        padding: 10px 0;
    }
    .right {
        display: flex;
        margin-left: 8px;
    }
    .left {
        display: flex;
        margin-right: 8px;
    }
    .content-non-collapse {
        display: flex;
    }
}

@media (max-width: 767px) {
    .card-expand-two-button {
        .content {
            gap: 0 0;
            padding-left: 8px;
            .content-collapse {
                display: none;
            }
        }

        .content-non-collapse {
            display: flex;
        }
    
        .bottom-expand {
            display: none;
        }
    
        .bottom-two-btn {
            display: flex;
        }
        
    }

    .card-expand-right-button {
        .bottom-expand {
            display: none;
        }
        .right {
            display: flex;
        }
    }

    .wrapper {
        padding: 10px;
    }


}
