.wrapper {
    position: sticky;
    top: 0;
    z-index: 1;
    max-width: 342px;
    width: 342px;
    height: 100vh;
    padding: 10px 0;
    background-color: var(--white);
    box-shadow: 48px 44px 15px -48px rgb(0 0 0 / 6%);
}
.main {
    padding: 0 16px;
}

.menu {
    margin-top: 24px;
    margin-bottom: 16px;
    .menu-item {
        text-align: left;
        padding-left: 24px;
        padding-right: 24px;
        border-radius: 8px;
        color: var(--gray-600);
        font-size: 1.4rem;
    }

    .menu-item + .menu-item {
        margin-top: 8px;
    }

    .language {
        color: var(--gray-400);
    }

    .collapse-item {
        height: 42px;
        padding-left: 24px;
        padding-right: 24px;
        border-radius: 8px;
        color: var(--gray-600);
        font-size: 1.4rem;
    }

    .active {
        color: var(--primary-dark);
        background-color: var(--primary-soft);
    }
}

.logout-btn {
    height: 46px;
    span + span {
        flex: none;
    }
}

.select {
    width: 100%;
}

@media (max-width: 1023px) {
    .wrapper {
        display: none;
    }
}
