.wrapper {
    padding: 32px 40px;
}

.inner {
    display: flex;
    flex-direction: column;
    gap: 32px;
    .topbar-custom {
        display: none;
    }
}

.list-campaign {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
}

//topbar
.current-page {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: var(--gray-800);
    display: none;
}

.add-btn {
    width: 24px;
    height: 24x;
    color: var(--primary-dark);
    padding: 0 0;
    background-color: transparent;
    display: none;
}

.large-add-btn {
    width: fit-content;
}

@media (max-width: 1023px) {
    .wrapper {
        padding: 32px 16px;
    }

    .list-campaign {
        grid-template-columns: 1fr;
    }

    .inner {
        .topbar-custom {
            display: flex;
        }
    }

    //topbar
    .current-page {
        display: block;
    }

    .add-btn {
        display: block;
    }

    .large-add-btn {
        display: none;
    }
}
